*{
    margin: 0;
    padding: 0;
    border: 0;
}
div {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 100%;
}
div:hover {
    width: 200px;
    height: 200px;
    background-color: red;
    cursor: pointer;
    box-shadow: 3px 3px 6px black;
}